@model FactClient

<div class="modal fade" id="addClient" aria-labelledby="addClientLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditClientLabel">CLIENTE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;<span>
                </button>
            </div>
            <div class="modal-body">

                <form asp-action="Create_partialm" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CliIdentification" class="control-label"></label>
                        <input asp-for="CliIdentification" class="form-control" />
                        <span asp-validation-for="CliIdentification" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CliName" class="control-label"></label>
                        <input asp-for="CliName" class="form-control" />
                        <span asp-validation-for="CliName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CliAddres" class="control-label"></label>
                        <input asp-for="CliAddres" class="form-control" />
                        <span asp-validation-for="CliAddres" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CliBirthday" class="control-label"></label>
                        <input asp-for="CliBirthday" class="form-control" />
                        <span asp-validation-for="CliBirthday" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CliPhone" class="control-label"></label>
                        <input asp-for="CliPhone" class="form-control" />
                        <span asp-validation-for="CliPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CliMail" class="control-label"></label>
                        <input asp-for="CliMail" class="form-control" />
                        <span asp-validation-for="CliMail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CliStatus" class="control-label"></label>
                        <input asp-for="CliStatus" class="form-control" />
                        <span asp-validation-for="CliStatus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TypId" class="control-label"></label>
                        <input asp-for="TypId" class="form-control" />
                        <span asp-validation-for="TypId" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>